<% include ./partials/header %>
	<header><h1>R S T L N E !</h1></header>
	<div id='bye_msg'>
		<h2>Goodbye, thanks for playing!</h2>
		<img src='../images/goodbye.jpg'>
	</div>
<% include ./partials/footer %>