<% include ./partials/header %>
	<header><h1>R S T L N E !</h1></header>
	<section class="container">
		<div class="row">
			<div id="main" class="col-md-9" ng-controller="LettersController as letrs">
				<div class="row" ng-repeat="row in letrs.setLoop(4) track by $index">
					<letter
						ng-repeat="cell in letrs.setLoop(12) track by $index"
						phraseletter={{letrs.setBoxLetter($parent.$index,$index)}}
						id={{letrs.setID($parent.$index,$index)}}
					>
					</letter>
				</div>
			</div>
			<div class="col-md-3" ng-controller="LettersController as ctrl">
				<nav class="col-md-offset-1 col-md-10">
					<label>Menu</label>
					<a href='/' class='button' type='button'>New Game</a>
					<a class='button' href='/exit'>Exit</a>
					<button class='button' type='button' id='reveal_btn'>Reveal Game</button>
				</nav>
				<form class='col-md-offset-1 col-md-10' id='guess_letter' action='post'>
					<input id='letter_input' type='text' maxlength=1 placeholder='Enter Letter' required>
					<p>(Case Insensitive)</p>
					<input type='submit' value='Submit'>
				</form>
				
			</div>
		</div>
	</section>
	<section id="bottom_panel" class="container">
		<div class="row">
			<div class="col-md-6" id="score">
				<h2>Score</h2>
				<p></p>
			</div>
			<div class="col-md-6" id='msgPane'>
				<h2>Not Found</h2>
				<p></p>
			</div>
		</div>
	</section>
<% include ./partials/footer %>