<% include ./partials/header %>
	<header><h1>Guess That Phrase!</h1></header>
	<section class="container">
		<div class="row">
			<div id="main" class="col-md-9" ng-controller="LettersController as letrs">
				<div class="row" ng-repeat="row in letrs.setLoop(4) track by $index">
					<letter
						ng-repeat="cell in letrs.setLoop(12) track by $index"
						phraseletter={{letrs.setBoxLetter($parent.$index,$index)}}
					>
					</letter>
				</div>
			</div>
			<div class="col-md-3">
				<nav class="col-md-offset-1 col-md-10">
					<button>New Game</button>
					<button>Save</button>
					<button>Exit</button>
				</nav>
				<form class='col-md-offset-1 col-md-10' id='guess_letter' action='post' target='#'>
					<input type='text' placeholder='Enter Letter'>
					<input type='submit' value='Submit'>
				</form>
			</div>
		</div>
	</section>
	<section id="bottom_panel" class="container">
		<div class="row">
			<div class="col-md-6">hello world</div>
			<div class="col-md-6">hello world</div>
		</div>
	</section>
<% include ./partials/footer %>