* { margin: 0; padding: 0; box-sizing: border-box; }
body {
	font-size: 16px;
	font-famly: Helvetica, Arial, sans-serif;
	background-color: rgb(50,50,50);
}
header {
	background-color: rgb(40,40,40);
	padding: 2rem;
	text-align: center;
	border-bottom: 1px solid grey;
}
h1 {
	color: yellow;
}
a {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: blue;
}
a:active {
	color: red;
}
section {
	padding: 2rem;
}
footer {
	padding: 2rem;
	background-color: rgb(40,40,40);
	color: yellow;
	text-align: center;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
nav {
	background-color: grey;
	padding: 2rem 0;
	border-radius: 5px;
}
nav button {
	display: block;
	width: 80%;
	border: 1px solid grey;
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: .5rem 1rem;
	margin: 1rem auto;
}
nav button:hover {
	background-color: yellow;
}
nav button:active {
	background-color: orange;
}
.container {
	width: 90%;
	padding: 2rem;
}
.letter_box {
	height: 100px;
	background-color: black;
	padding: .75rem;
}
.green_back {
	background-color: lightgreen;
	width: 100%;
	height: 100%;
}
.wrapper {
	max-width: 1000px;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
#main {
	border: 2px solid black;
	background-color: green;
	padding: .25rem;
}
#main .row {
	margin: 0;
}
#main .row + .row {
	border-top: 2px solid green;
}
#main .letter_box + .letter_box {
	border-left: 2px solid green;
}
#bottom_panel {
	
}
#bottom_panel > div > div {
	text-align: center;
	background-color: grey;
	border: 1px solid black;
}


